body{
    text-align: center;
}

input[type="number"]{
padding: 20px;
}

button{
    background-color: cornflowerblue;
    padding:30px;
    color:#fff;
    border: none;
}

p#resultComment{
    background-color: darkkhaki;
    font-size: 1.2em;
    padding:10px 0 10px 0;
    display: block;
    width: 210px;
    margin-right: auto;
    margin-left: auto;
}